<h1>ALL Accounts</h1>
<div>
  <button class="btn btn-primary m-3" type="button" data-bs-toggle="modal" data-bs-target="#newModal"
    (click)="openpostModal()" [routerLink]="['/counter']">
    <-- Registeration/Login </button>
      <table class="table table-striped" *ngIf="isData && isAdmin">
        <thead>
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Role ID</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items">
          <tr>
            <td>
              <input class="input-group-text" type="text" [value]="item.id" disabled />
            </td>
            <td>
              <input class="input-group-text" type="text" [value]="item.fname" disabled />
            </td>
            <td>
              <input class="input-group-text" [value]="item.lname" disabled />
            </td>
            <td>
              <input class="input-group-text" type="text" [value]="item.password" disabled />
            </td>
            <td>
              <input class="input-group-text" type="text" [value]="item.roleid" disabled />
            </td>
            <td>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="openEditModal(item)">
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteInfo(item.id)" type="button">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <table class="table table-striped" *ngIf="isData && !isAdmin">
        <thead>
          <tr>
            <th>id</th>
            <th>Full Name</th>
            <th>lname</th>
            <th>password</th>
            <th>Role id</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items">
          <tr>
            <td>
              <input class="input-group-text" type="text" [value]="item.id" disabled />
            </td>
            <td>
              <input class="input-group-text" type="text" [value]="item.fname" disabled />
            </td>
            <td>
              <input class="input-group-text" [value]="item.lname" disabled />
            </td>
            <td>
              <input class="input-group-text" type="text" [value]="item.password" disabled />
            </td>
            <td>
              <input class="input-group-text" type="text" [value]="item.roleid" disabled />
            </td>
            <td>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="openEditModal(item)">
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteInfo(item.id)" type="button">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Modal update -->
      <div *ngFor="let item of items" >
        <div *ngIf="isData && isAdmin" id="exampleModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form [formGroup]="accForm" (ngSubmit)="updating()">
                <!-- ... Modal header ... -->
                <div class="modal-body">
                  <h4 class="my-3 d-flex justify-content-center">
                    Updating section
                  </h4>
                  <div>
                    Full Name
                    <span class="text-danger" *ngIf="
                    accForm.get('fname')?.invalid &&
                    accForm.get('fname')?.touched
                  ">is required!</span>
                    <input type="text" class="input-group mb-3 bg-light border-1 rounded shadow-sm bg-body-tertiary"
                      formControlName="fname" />
                    lname
                    <span class="text-danger" *ngIf="
                    accForm.get('lname')?.invalid &&
                    accForm.get('lname')?.touched
                  ">is required!</span>
                    <input type="text" class="input-group mb-3 bg-light border-1 rounded shadow-sm bg-body-tertiary"
                      formControlName="lname" />
                    password
                    <span class="text-danger" *ngIf="
                    accForm.get('password')?.invalid &&
                    accForm.get('password')?.touched
                  ">is required!</span>
                    <input type="text" class="input-group mb-3 bg-light border-1 rounded shadow-sm bg-body-tertiary"
                      formControlName="password" />
                      Role id
                      <span class="text-danger" *ngIf="
                      accForm.get('roleid')?.invalid &&
                      accForm.get('roleid')?.touched
                    ">is required!</span>
                      <input type="text" class="input-group mb-3 bg-light border-1 rounded shadow-sm bg-body-tertiary"
                        formControlName="roleid" />
                    <input type="hidden" formControlName="id" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit"
                    class="btn btn-outline-success w-100 p-1 border-1 rounded text-dark shadow bg-body-tertiary">
                    Save changes
                  </button>
                  <button type="button" class="btn btn-transparent w-100 p-1 text-dark" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let item of items">
        <div *ngIf="isData && !isAdmin" id="exampleModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form [formGroup]="accForm" (ngSubmit)="updating()">
                <!-- ... Modal header ... -->
                <div class="modal-body">
                  <h4 class="my-3 d-flex justify-content-center">
                    Updating section
                  </h4>
                  <div>
                    Full Name
                    <span class="text-danger" *ngIf="
                    accForm.get('fname')?.invalid &&
                    accForm.get('fname')?.touched
                  ">is required!</span>
                    <input type="text" class="input-group mb-3 bg-light border-1 rounded shadow-sm bg-body-tertiary"
                      formControlName="fname" />
                    Username
                    <span class="text-danger" *ngIf="
                    accForm.get('lname')?.invalid &&
                    accForm.get('lname')?.touched
                  ">is required!</span>
                    <input type="text" class="input-group mb-3 bg-light border-1 rounded shadow-sm bg-body-tertiary"
                      formControlName="lname" />
                    password
                    <span class="text-danger" *ngIf="
                    accForm.get('password')?.invalid &&
                    accForm.get('password')?.touched
                  ">is required!</span>
                    <input type="text" class="input-group mb-3 bg-light border-1 rounded shadow-sm bg-body-tertiary"
                      formControlName="password" />
                    <input type="hidden" formControlName="id" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit"
                    class="btn btn-outline-success w-100 p-1 border-1 rounded text-dark shadow bg-body-tertiary">
                    Save changes
                  </button>
                  <button type="button" class="btn btn-transparent w-100 p-1 text-dark" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <h1 *ngIf="!isData">Танд хандах эрх байхгүй байна!</h1>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>